[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
DynamicUser=yes
RuntimeDirectory=gunicorn
WorkingDirectory=/home/agucova/repos/consejos-transparentes-api/
ExecStart=/usr/bin/gunicorn -k uvicorn.workers.UvicornWorker main:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target