[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=agucova
Group=agucova
RuntimeDirectory=gunicorn
Environment="GOOGLE_APPLICATION_CREDENTIALS='credentials.json'"
WorkingDirectory=/home/agucova/repos/consejos-transparentes-api/
ExecStart=/home/agucova/.poetry/bin/poetry run gunicorn -k uvicorn.workers.UvicornWorker main:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target